<% provide(:title, "Home") %>
  <br/>
<header class="jumbotron hero-spacer">
  <h1>Home - Kien NguyenQuoc</h1>
  <p>
    Home - AMAZON PRODUCT API Home - Bring Innovation from Vietnam to the World!
  </p>
  <p><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
</header>
