<% provide(:title, "Home") %>
<header class="jumbotron hero-spacer">
  <h1>Home - AMAZON PRODUCT API</h1>
  <p>
    Home - AMAZON PRODUCT API Home - AMAZON PRODUCT API Home - AMAZON PRODUCT API
  </p>
  <p><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
  <p><%= link_to "Admin", admins_path, class: "btn btn-lg btn-primary" %></p>
</header>
