<div class="row">
  <div class="col-md-10">
    <%= text_field_tag :keyword, nil, class: 'form-control', placeholder: 'Search' %>
  </div>
  <div class="col-md-2">
    <%= submit_tag "Search", :class => "btn btn-primary" %>
  </div>
</div>