<div class="col-md-12">
  <p class="lead">Admin - Carts</p>
  <div id="searchlist" class="list-group">
    <%= link_to "Buyers", admin_cart_path(id: "buyers"), :class => "list-group-item "%>
    <% @users.each do |user|%>
      <%= link_to "#{ user.username }", admin_cart_path(id: user.id), :class => "list-group-item "%>
    <% end %>
  </div>
</div>