<div class="col-md-3">
	<p class="lead">VenShop</p>
	<div id="searchlist" class="list-group">
		<% @categories.each do |category|%>
      <% if Product.where(category: category).count() >= 1 %>
        <%= link_to "#{ category.name }", category, :class => "list-group-item #{ "active" if category.id == @current_category}"%>
      <% end %>
		<% end %>
	</div>
</div>

